@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, html{
    box-sizing: border-box;
    background-color: rgb(35, 112, 200);
    margin: 0;
    width: 100%;
}

#bodygrid{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

header img{
    height: 150px;
    margin-bottom: 0;
}

header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 10px;
    color: blue;
}

header{
    background-image: url(https://static.wikia.nocookie.net/doraemon/images/d/d5/Nobita%27s_house_2019.png/revision/latest?cb=20190301042754&path-prefix=en);
    background-size: cover;
    grid-area: header;
    text-align: center;
    padding: 20px;
    width: auto;
}

.navegador{
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

#navbar{
    position: sticky;
    top: 0;
}

.botones{
    text-decoration: none;
    background-color: rgb(43, 73, 228);
    color: white;
    padding: 10px;
    border: rgb(19, 19, 26) 2px solid;
    border-radius: 10px;
}

.botones:hover{
    background-color: white;
    color: rgb(43, 73, 228);
}

/* #banner{
    background-color: rgb(215, 196, 133);
    grid-area: banner;
    text-wrap: wrap;
} */

main{
    grid-area: main;
}

#maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    
}

#mainflex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

#serie{
    background-color: rgb(241, 152, 165);
    border-radius: 15px;
    border: 3px white solid;
    padding: 20px;
    width: min-content;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 0;
}

.personaje{
    background-color: rgb(192, 214, 214);
    border-radius: 15px;
    justify-items: center;
    border: 2px white solid;
    padding: 20px;
    width: min-content;
}

.personaje img{
    display: block;
    width: 500px;
    border-radius: 20px;
    border-image: round;
    border: 2px rgb(255, 255, 255) solid;
}

#cardgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.card{
    width: 400px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 5px solid white;
}

.card-back {
  background: #ff6161;
  color: white;
  transform: rotateY(180deg);
  border: 5px double white;
  justify-content: center;
}

.card-back p{
    padding: 5px;
    text-align: center;
}

.card img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.back{
    backface-visibility: hidden;
    padding: 20px;
    place-items: center;
    transform: rotateY(180deg);
}


#form{
    width: auto;
    margin: auto;
    background-color: rgb(189, 150, 44);
    border: white 6px solid;
    border-radius: 10px;
}

#formflex{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input{
    font-family: Oswald, Cambria;
    font-size: 20px;
    margin-bottom: 10%;
    height: 10px;
}

.input[type=text], select{
    padding: 5px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.input input{
    height: 300%;
    width: 100%;
    margin-right: 2px;
}

#formgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.form-doras{
    justify-items: center;
    background-color: rgb(170, 180, 186);
    border: #ff6161 solid 2px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.form-doras:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.tick{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 50px;
}


input[type=radio]{
    display: none;
}

#titulodoras{
    font: 200;
    font-family: Oswald;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10;
}

.form-doras label{
    object-fit: cover;
    padding-bottom: 0;
    cursor: pointer;
}

.form-doras p{
    margin: 0;
    padding: 5px;
    text-align: center;
}

.form-img{
    object-fit: cover;
    height: 180px;
    width: 200px;
    display: block;
    justify-self: center;
    padding: 10px;
    margin: 0;
}

#submit{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: rgb(234, 31, 31);
    color: aliceblue;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
    cursor: pointer;
}

footer{
    grid-area: footer;
    background-color: brown;
}

